<aside class="right-side">
  <div class="logo" #logo>
    <img src="assets/logo.png">
    <h4>Al-Qur'an</h4>
    <h5>Terjemahan Indonesia</h5>
  </div>
  
  <div class="filter" #filter>
    <div class="filter-button-group">
      <button [class]="activeFilter === 'surah' ? 'active' : ''" (click)="setActiveFilter('surah')">Surat</button>
      <button [class]="activeFilter === 'juz' ? 'active' : ''" (click)="setActiveFilter('juz')">Juz</button>
    </div>
  </div>

  <div class="surah-list" #surahList [hidden]="activeFilter === 'juz'">
    <a [class]="activeSurah === surah.nomor ? 'surah-item active' : 'surah-item'" *ngFor="let surah of surahs" [routerLink]="'/'+surah.nomor">

      <div class="surah-number-wrapper">
        <span class="surah-number">{{ surah.nomor }}</span>
      </div>
      
      <div class="surah-name">
        <span class="surah-name-indonesia">{{ surah.nama }}</span>
        <br />
        <span class="surah-name-translation">{{ surah.arti }}</span>
      </div>
      
      <div class="surah-icon">
        <i [class]="'icon-surah'+surah.nomor"></i>
      </div>
    </a>
  </div>

  <div class="juz-list" #juzList [hidden]="activeFilter === 'surah'">
    <a class="juz-item" [routerLink]="'/juz/'+juz.number" *ngFor="let juz of juzs; let i = index">
      
      <div class="juz-number-wrapper">
        <span class="juz-number">{{ juz.number }}</span>
      </div>
      <div class="juz-ayah-range">
        <span class="ayah-start">{{ surahs[juz.start.number-1]?.nama + ' ayat ' + juz.start.verse }}</span>
        <br />
        <span class="ayah-end">{{ surahs[juz.end.number-1]?.nama + ' ayat ' + juz.end.verse }}</span>
      </div>
    </a>
  </div>
</aside>