@import '../../global.scss';

@font-face {
    font-family: lpmq;
    src: url(../../assets/fonts/lpmq.otf);
    src: url(../../assets/fonts/lpmq.ttf);
    font-style: normal;
}
@font-face {
    font-family: ayah_number;
    src: url(../../assets/fonts/MSI_BASMALAH.otf);
}
.icon-number {
    font-family: ayah_number;
}
.sheet-wrapper {
    position: absolute;
    width: 82%;
    height: 100%;
    background-color: #f1f1f1;
}
.sheet {
    padding: 30px;
    background-color: $primaryColor;
    width: 90%;
    margin: 20px auto;
    border-radius: 4px;
}
.surah-header {
    width: 100%;
    padding: 10px;
    background-color: $primaryColorDark;
    border-radius: 100px;
    text-align: center;
    overflow: hidden;
    position: relative;
    h1 {
        color: #fff;
        margin: 0;
        i {
            font-size: 30px
        }
    }
}
.surah-container {
    background-color: #fff;
    border-radius: 4px;
    margin-top: 15px;
    overflow: auto;
}
.surah-name-translation {
    padding: 5px 50px;
    display: inline-block;
    border-radius: 50px;
    line-height: 12px;
    margin-bottom: -20px;
    span {
        color: $secondaryColor;
        font-size: 12px;
    }
}
.ornament {
    width: 65px;
    height: 65px;
    background-image: url(../../assets/images/ornament.png);
    background-size: 100%;
    position: absolute;
    &.right {
        right: 10px;
        top: 10px;
    }
}
.bismillah {
    text-align: center;
    font-size: 30px;
}
.terjemah {
    color: $primaryColor;
    font-weight: bold;
}
.ayah {
    padding: 20px;
    overflow: auto;
    border-bottom: 1px solid #eee;
    
    &-control {
        width: 15%;
        float: left;
        display: inline-block;
        .ayah-index {
            width: 60px;
            height: 60px;
            background-image: url(../../assets/images/ayah-frame.png);
            background-size: contain;
            text-align: center;
            padding: 16px 0;
            line-height: 12px;
            .ayah-key {
                font-weight: bold;
                font-size: 14px;
            }
            .ayah-juz-number {
                font-size: 12px;
            }
        }
    }
    &-text {
        width: 85%;
        float: left;
        display: inline-block;
    }
    &-text-arabic {
        font-size: 25px;
        line-height: 220%;
        font-family: lpmq;
        direction:rtl;
        text-align:justify;
    }
    &-text-translation {
        color: #777;
        margin-top: 15px;
        font-size: 13px;
        text-align: justify;
    }
    &:nth-child(even) {
        background-color:#f7f7f7;
    }
}