<ng-scrollbar #scrollRef class="sheet-wrapper" (scrollState)="pushAyahs()">
  <div class="sheet">

    <div class="surah-header">
      <div class="ornament left"></div>

      <div class="surah-title">
        <h1><i class="icon-surah{{ surah?.chapter_number }}"></i> <i class="icon-surah"></i></h1>
      </div>

      <div class="ornament right"></div>

      <div class="surah-name-translation">
        <span>{{ surah?.name_simple }} - {{ surah?.translated_name.name }}</span>
      </div>
    </div>


    <div class="surah-container">
      <div class="ayah" *ngIf="surah?.bismillah_pre">
        <div class="bismillah">
          <span class="icon-number">3</span>
          <span class="icon-number">2</span>
          <span class="icon-number">1</span>
        </div>
      </div>

      <div class="ayah" *ngFor="let ayah of ayahs">
        <div class="ayah-control">
          <div class="ayah-index">
            <span class="ayah-key">{{ ayah.verse_key }}</span>
            <br>
            <span class="ayah-juz-number">Juz {{ ayah.juz_number }}</span>
          </div>
        </div>

        <div class="ayah-text">
          
          <div class="ayah-text-arabic">
            {{ ayah.text_madani }} 
            
          </div>
          
          <div class="ayah-text-translation">
            <span class="terjemah">TERJEMAH</span><br>
            {{ ayah.translations.length > 0 ? ayah.translations[0].text : null }}
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-scrollbar>